.favourite-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 40px 100px;
}
.favourite-list strong {
  color: #d84949;
}
.favourite-list-warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 20%;
  background-color: #ce3246;
  padding: 100px 100px;
  margin-top: 50px;
  border-radius: 50px;
}
