.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px;

  margin-left: 100px;
}

/*.product-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  font-family: "Montserrat";
  margin-top: 60px;
}
*/
