.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  height: min-content;
  background: linear-gradient(to right, #97afaa, #34db4a, #4c8ecd, #b88b7c);
  height: 50px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer-text {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  margin-top: 30px;
}

.vehicles {
  display: flex;
  flex-direction: column;
}

.helpful-links {
  display: flex;
  flex-direction: column;
}

.copyright-field1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.copyright-field2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
