.user-update {
  margin-top: 50px;
  display: grid;
  gap: 15px;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url("../../assets/update1.jpg");
}
.error-message {
  color: red;
}

.text {
  width: 400px;
  height: 30px;
}
.error-msg {
  color: red;
}
.title {
  top: 80px;
  margin-left: 80px;
  align-items: center;
  justify-content: center;
  color: darkblue;
}
.show3 {
  position: absolute;
  top: 550px;
  left: 790px;
}
.show4 {
  position: absolute;
  top: 610px;
  left: 790px;
}
