.user-reg {
  margin-top: 50px;
  display: grid;
  gap: 15px;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url("../../assets/login.jpg");
}
.error-message {
  color: red;
}

.text {
  width: 400px;
  height: 30px;
}
.error-msg {
  color: red;
}
.title {
  top: 80px;
  margin-left: 100px;
  align-items: center;
  justify-content: center;
  color: darkblue;
}
.show1 {
  position: absolute;
  top: 350px;
  left: 810px;
}
.show2 {
  position: absolute;
  top: 425px;
  left: 810px;
}
